
.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
  background: #000;    


}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    padding: 20px;
    color: #ff5546;
}
.content img{
   min-width: 100px;
  


}
.main .nav img{
    width: 35px;
    height: auto;
    border-radius: 50%;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main-container .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #333;
    font-weight: 500;
    padding: 20px;
   animation: fadeIn 1.5s;
}



.main .greet span{
    background: -webkit-linear-gradient( 90deg,#000, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px ,1fr));
    gap: 15px;
    padding:20px;
} 
.main .card{
    height: 200px;
    padding: 15px;
    background: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 19px ;
    right: 10px;

}
.main .card p{
    color: #585858;
    font-size: 17px;
}
.main .card:hover{
    background: #dfe4ea;
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 20px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #000;
    padding: 15px 20px;
    border-radius: 50px;
    border : 1px solid #fff;
}
.search-box img{
    width: 24px;
    cursor: pointer;
    /* border: 2px solid #333; */
    border-radius: 50% ;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-box input{
    /* flex: 1; */
    max-width:200px;
    background: none;
    border: none;
    outline: none;
    padding: 4px;
    font-size: 16px;
    color: #fff;
    
}
.search-box .cover{
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: breathing 2s ease-out infinite normal;
    animation: breathing 2s ease-out infinite normal;
    font-size: 16px;
    background: #ff5546;
    color: #fff;
    /* border-radius: 2px; */
    text-align: center;    
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


.listen{
    font-size: 400px;
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    position: relative;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    margin: 40px 0;
    position: absolute; 
    right: 40px;
    background: #ff0000;
    padding: 15px 25px;
    border-radius: 40px 0 40px 40px;

}

.result img{
    width: 35px;
    border-radius: 50%;
}
.result-data .left{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    align-items: center;
}

.result-data{
    margin-top: 130px;   
    display: flex;
    align-items: start;
    /* width: 900px; */
    /* justify-content: center; */
    gap: 20px;   
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #ff5546,#000,#ff5546);
    background-size: 800px 50px;
    height: 13px;
    animation: loader  3s infinite linear;
}

@keyframes loader {
    0%{
        background-position:-800px 0;
    }
    100%{
        background-position: 800px 0;
    }

    
}
.result-data p{
font-size: 17px;
font-weight: 300;
line-height: 1.8;
color: #fff;
}
.msg{
    height: 20px;
    display: block;
    margin-left: 10px;
    cursor: pointer;
}   

@media (width > 500px) {
    .noshow{
        display: none;
    }
    
}
@media (width < 500px) {
    .main{
        min-height: 100vh;
        animation: slidebottom 0.5s;
    }
    .case{
        display: none;
    }
 
    .card{
        display: none;
    }
    .main-bottom{
        position: absolute;
        /* padding-top: 150px; */
        /* padding-bottom: 0; */
        bottom: 0;
    }
   
  
}
@keyframes slidebottom {
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0%);
    }
    
}

